.carousel {
  width: 100%; /* Width of carousel */
  height: 166px; /* Height of carousel */
}

.card-container {
  display: flex; /* Set inline elements */
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px); /* Set width of card container */
  overflow-x: auto; /* Set overflow in horizontal scroll */
  overflow-y: hidden; /* Hidden overflow in vertical scroll */
  scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
  gap: 8px; /* Set gap between cards */
}

.card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari and Opera */
}

.card {
  min-width: 250px; /* Set min width of card */
  height: 150px; /* Set height of card */
  display: flex;
  justify-content: center;
  align-items: center;
  background:#17BF60;
  border: 1px solid #4F5873;
  color: #4a544c;
  border-radius: 8px;
  scroll-snap-align: start; /* Set the element focus position in scroll container */
}

.card:hover {
  background: #1ED96F; /* Set background color when hover */
}